.game_container{
    
    width: 60%;
    border-radius: 0.6em;
    margin: 1em;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  }
  .game_body{
    display: block;
    background: rgb(187, 187, 187); 
}
.game_top{
    display: flex; 
    align-items: initial;
}
.game_bottom{
    
}
.game_pic{
    width: 20%;
    margin: 1em;
}
.game_title_text{
    font-size:xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1em;
}
.game_info_text{
    font-size: large;
    margin-left: 1em;
    margin-top: 1em;
}
.game_rating_text{
    font-size: large;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.top_text_box{
    display: flex;
    flex-direction: column;
}
.more_icon{
    width: 4%;
    border-radius: 100%;
    margin-left: 1em;
    margin-bottom: 1em;
}